<html>


<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>


<body>
    <h1 class="titolo">HOME PAGE</h1>
    <div id="immagini"> 
        <a href="/meteo"><img src="static/images/meteo.jpg" alt="Immagine meteo" width="500" height="300"></a>
        <a href="/frasicelebri"><img src="/static/images/libro.jpg" alt="Immagine libro" width="500" height="300"></a>
        <a href="/quantomanca"> <img src="/static/images/calendario.jpg" alt="Immagine calendario" width="500" height="300"></a>
    </div>
</body>


</html>