* {
  margin: 0;
  padding: 0;
}

.titolo {
  text-align:center;
  
}


#immagini {
  text-align:center;
}

body{
  background-color: #FFFFF1;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#frase-autore{
  text-align:center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 4em;

}

#giorni {
  text-align:center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 5em;
}