<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>{{Testo}}</h1>
        <a href='/meteo'><img src="static/images/meteo.jpg" alt="" width="600" height="300"></a>
        <a href='/meteo'><img src="static/images/libro.jpg" alt="" width="600" height="300"></a>
        <a href='/meteo'><img src="static/images/calendario.jpg" alt="" width="600" height="300"></a>
                  

    </body>
</html>