<html>
    <head>
        <title>{{Titolo}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>{{Testo}}</h1>
        <img src="static/images/meteo.jpg" alt="Immagine ridimensionata via HTML" width="400" height="200" />
        <img src="static/images/libro.jpg" alt="Immagine ridimensionata via HTML" width="400" height="200" />
        <img src="static/images/calendario.jpg" alt="Immagine ridimensionata via HTML" width="400" height="200" />
    </body>
</html>